Data.csv
final_dataset_6_10_066.csv
final_dataset_6_10_080.csv
final_dataset_10_20_066.csv
genotypes_processed.csv
genotypes_processed_fixed_feat_values3.csv
time_info.csv
Weather features.csv
catboost_info
agrocodehub_data
temp_data
cat_info_10_20_66.cbm
